[user]
	name = Ivan Bravo Bravo
	email = 10877376+kolessios@users.noreply.github.com
[color]
	ui = true
[push]
	followTags = true
	autoSetupRemote = true
[help]
	autocorrect = 1
[status]
  showUntrackedFiles = all
[core]
	fileMode = false
[init]
	defaultBranch = main
[rerere]
	enabled = true
[pull]
	rebase = true